/*
    Theme Name: nhahang
	Theme URI: http://nhahang.vn
	Description: http://nhahang.vn center homepage
	Author: diep	
	Author URL: http://nhahang.vn
	Version: 1.5
	Template: genesis
   
*/


@font-face {
	font-family:'Gotham-Book';
	src: url('fonts/Gotham-Book_gdi.eot');
	src: url('fonts/Gotham-Book_gdi.eot@#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Book_gdi.woff') format('woff'),
		url('fonts/Gotham-Book_gdi.ttf') format('truetype'),
		url('fonts/Gotham-Book_gdi.otf') format('opentype'),
		url('fonts/Gotham-Book_gdi.svg#fonts/Gotham-Book') format('svg');
	font-weight: 325;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}@font-face {
	font-family:'Gotham-Light';
	src: url('fonts/Gotham-Light_gdi.eot');
	src: url('fonts/Gotham-Light_gdi.eot@#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Light_gdi.woff') format('woff'),
		url('fonts/Gotham-Light_gdi.ttf') format('truetype'),
		url('fonts/Gotham-Light_gdi.otf') format('opentype'),
		url('fonts/Gotham-Light_gdi.svg#fonts/Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}@font-face{
font-family:"Bembo W04 Roman";
src:url("fonts/1e79ed92-3ee7-47ab-aeeb-3f952da7c11f.eot@#iefix");
src:url("fonts/1e79ed92-3ee7-47ab-aeeb-3f952da7c11f.eot@#iefix") format("eot"),url("fonts/5f4e291d-a37e-47b4-8c7b-cf918fb5493d.woff") format("woff"),url("fonts/ed3aa623-a019-4a38-99e2-57e052d857e3.ttf") format("truetype"),url("fonts/f53ebb38-0c9a-45b6-af1c-0972f43bdaea.svg#f53ebb38-0c9a-45b6-af1c-0972f43bdaea") format("svg");
}html{-webkit-font-smoothing:antialiased;background-color:#fff;font-size:62.5%}html,body{margin:0;padding:0}body{font-family:Helvetica;font-size:inherit;font-weight:400;line-height:1.45;color:#111}hr{height:1px;border:0;margin:4em auto;background-color:#ccc}.richtext h1,.richtext h2,.richtext h3,.richtext h4,.richtext h5,.richtext h6,.richtext p,p{margin-bottom:1.3em}.richtext p,.text p{font-size:1.4em}h1,h2,h3,h4{margin:1.414em 0 .5em;font-family:Time news roman;font-weight:300;font-weight:inherit;color:#000;line-height:1.2}h1{margin-top:0;font-size:2.441em}h2{font-size:1.953em}h3{font-size:1.563em}h4{font-size:1.25em}small,.font_small{font-size:.8em}a{color:#d38636}a:hover{color:#000}#header{width:100%;position:absolute;overflow:visible;z-index:999}#header:before{width:100%;height:21.2em;display:block;content:'';position:absolute;top:0;background:url(images/ui/xnav-bg.png.pagespeed.ic.MyoEKCLlvc.png) top left repeat-x;z-index:1}#header_logo{width:19.2em;position:absolute;top:0;left:50%;margin-left:-9.6em;float:none!important;z-index:2}#header_logo>.logo{width:100%}#header_logo>.logo img{width:100%}.headerlogo .fl{float:none!important}.headerlogo .fl a{display:inline-block}.lang_loc{width:958px;position:absolute;left:50%;margin-left:-479px;z-index:2}#language+img{display:none}#language .customStyleSelectBoxInner{padding:0;font-size:1.4em;text-transform:uppercase;color:#d38636}#language .customStyleSelectBoxInner:after{content:'\25be';display:inline-block;padding-left:.4em;font-size:1.4em}#selectLang{width:100px;font-size:14px!important;font-family:Helvetica,sans-serif}#selectLang option{background:rgba(0,0,0,1);color:#d38636;padding:5px;border-right:1px solid gray}#selectLang option:last-child{border-bottom:2px solid gray}#nav>.sf-menu>li,#nav>.sf-menu>li>a{border:0}#nav>.sf-menu>li{padding:0}#nav>.sf-menu>li:hover,#nav>.sf-menu>li a:hover{background-color:transparent!important}#nav{background:none;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity = 100)}#nav .sf-menu li:hover ul,#nav .sf-menu li.sfHover ul{background:#fff;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity = 100)}.topnav{width:958px;height:auto;left:50%;top:10em;margin-left:-479px;text-align:right;z-index:1}#nav>ul{width:100%;display:inline-block;float:none;text-align:center}#nav>ul>li{float:none;display:inline-block;vertical-align:top}#nav a{background:none;height:36px;line-height:36px;padding:0 14px;font-weight:325;font-size:1.2em;color:#fff}#nav a:hover,#nav a.active{color:#d38636!important}#nav .sf-menu li{padding:0;text-align:left}.sf-menu li>ul{width:210px}#nav .sf-menu li:hover ul,#nav .sf-menu li.sfHover ul{background:#000;padding-top:0px;top:30px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity = 100)}#nav>.sf-menu>li>ul>li:hover,#nav>.sf-menu>li>ul>li a:hover{background:#000!important}.hero{width:100%;position:relative;top:0;background-color:#000}#mast_head{width:100%!important;height:auto!important;min-height:550px;text-align:center;background-position:center top!important;-webkit-background-size:cover!important;-moz-background-size:cover!important;-o-background-size:cover!important;background-size:cover!important}#mast_head>img:first-child{width:100%;min-height:550px;display:block!important;position:static!important;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity = 0)}.nivo-slice{width:100%!important;min-height:550px;position:absolute;top:0;left:0;background-position:center top!important;-webkit-background-size:cover!important;-moz-background-size:cover!important;-o-background-size:cover!important;background-size:cover!important}.ext-ie8 #mast_head{height:550px!important}.nivo-controlNav{width:958px;position:absolute;left:50%;bottom:20px;margin-left:-479px;display:inline-block;padding:0;text-align:right;z-index:10}.nivo-controlNav a{width:15px;height:15px;line-height:3px;position:relative;display:inline-block!important;float:none!important;background:none;text-indent:100%;white-space:nowrap;overflow:hidden;margin:0 0 0 8px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity = 100)}.nivo-controlNav a:after{content:'\2022';display:block;width:14px;height:14px;position:absolute;top:7px;left:-3px;font-size:6em;color:#fff;text-indent:0}.nivo-controlNav a.active{background:none;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity = 100)}.nivo-controlNav a.active:after{color:#5c6f70}#reserve_masthead .parsys.Reservation{width:958px;position:absolute;top:0;left:50%;margin-left:-479px}.reservation.section{height:auto;right:0;z-index:2}.reservation_form{font-size:inherit}#reservation{width:100%;height:auto;position:static;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";background:none}#reservation h3,#reservation form{padding-left:0;padding-right:0}#reservation form{width:100%}#reservation h3{white-space:nowrap}#reservation label{text-transform:capitalize}#reservation input{margin-bottom:10px}#reservation select{width:100%!important}#reservationSubmit{width:100%}#reservation p,#reservation .datewrapper{padding:0;margin:0;line-height:normal}#reservation .time,#reservation .no_of_people{margin-right:0;position:relative;font-size:.6em}#reservation .time{width:54%}#reservation .no_of_people{width:46%;margin-bottom:13px}#reservation .no_of_people label{margin-left:4px}#reservation .time .customStyleSelectBox,#reservation .no_of_people .customStyleSelectBox{width:auto;display:block}#reservation .time .customStyleSelectBoxInner,#reservation .no_of_people .customStyleSelectBoxInner{width:auto!important}#reservation .time .customStyleSelectBoxInner{font-size:.9em}td.navbutton{width:100%}#CalendarPickerControl table.calframe{font-size:1em}#reserve_masthead .parsys.Reservation{height:100%}.reservation.section{width:154px;padding:22px 28px 0;top:auto;bottom:60px}.reservation.section{border:1px solid #666;background-color:rgba(0,0,0,.6)}.ext-ie8 .reservation.section{background:transparent;background:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom:1}.reservation_form input{border:0}.reservation_form label{font-family:'Trebuchet MS';color:#fff}.datewrapper #startDate,.reservation_form .no_of_people .customStyleSelectBox,.reservation_form .time .customStyleSelectBox{height:25px;line-height:25px;color:#4b4e4e;font-size:2.2em}.datewrapper #startDate{font-size:1.4em}.datewrapper #startDate,#reservation .customStyleSelectBoxInner,.ext-ie7 .datewrapper #startDate,.ext-ie7 #reservation .customStyleSelectBoxInner,.ext-ie8 .datewrapper #startDate,.ext-ie8 #reservation .customStyleSelectBoxInner,#reservation .no_of_people:after{font-family:Helvetica,Arial,sans-serif}#reservation{border:0}#reservation h3{background:none;text-transform:uppercase;font-size:1.6em;margin-top:0;text-align:center;letter-spacing:2px}#reservation select{height:25px!important;background:#fff;z-index:1000}.datewrapper{background:url(images/ui/icon-calendar.png.pagespeed.ce.1tc2PzV0Rk.png) right 3px no-repeat}.datewrapper #startDate{width:124px;background:#fff;padding-left:5px}.datewrapper label{display:none!important}#CALBUTTONstartDate{width:19px!important;height:18px!important;margin-top:6px!important;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity = 0)}#reservation .customStyleSelectBox{background:#fff;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#fff 0%,#e1e1e1 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e1e1e1));background:-webkit-linear-gradient(top,#fff 0%,#e1e1e1 100%);background:-o-linear-gradient(top,#fff 0%,#e1e1e1 100%);background:-ms-linear-gradient(top,#fff 0%,#e1e1e1 100%);background:linear-gradient(to bottom,#fff 0%,#e1e1e1 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );border:0;line-height:25px}#reservation .customStyleSelectBoxInner{background:none}#reservation .customStyleSelectBoxInner:after{width:18px;height:23px;position:relative;top:1px;float:right;margin-left:5px;content:'';background:url(images/ui/cal-select-arrows.png.pagespeed.ce.ta4zwsG7d3.png) no-repeat center center;border-left:1px solid #bfc0c0}.reservation_form .no_of_people .customStyleSelectBox{margin-left:5px}#reservationSubmit{margin:0 0 36px!important;padding:12px;background-color:#d38636;font-size:1.4em;letter-spacing:1px}.ext-ie7 #reservationSubmit,.ext-ie8 #reservationSubmit{max-width:100%}#myMap+br{display:none}#lightbox-container-image-data-box{padding:10px 40px 10px}#container{width:100%;overflow:visible}.content_box{width:100%;padding:50px 0 0;background:#fff}.contentarea>div{width:958px;margin:0 auto!important}.intro-col{width:100%!important;height:522px;margin-top:-50px!important;position:relative;background:url(images/ui/xintro-bg.jpg.pagespeed.ic.zNzbR71aNj.jpg) center bottom no-repeat}.intro-col-c0{width:52.8em;position:absolute;top:7em;left:50%;margin-left:-48em!important}.intro-col-c0 .titlecomponent h1{font-size:3.6em}.intro-col-c0 .titlecomponent+.titlecomponent h2{font-family:"Bembo W04 Roman";font-size:2.2em;margin-top:0;margin-bottom:1em}.intro-col-c0 .titlecomponent+.titlecomponent:after{content:'';display:block;width:363px;height:1px;position:relative;top:-14px;background:url(images/ui/line-divider.png.pagespeed.ce.FuSYTupzSh.png) left top no-repeat}.contentarea>.promo-col,.contentarea>.promo-col-4{width:100%!important;height:476px;padding-top:0px;margin:0px!important;text-align:center;white-space:nowrap}.contentarea>.promo-col-4{height:410px}.contentarea>.section:first-child+.promo-col,.contentarea>.promo-col:first-child,.contentarea>.section:first-child+.promo-col-4,.contentarea>.promo-col-4:first-child{margin-top:-49px!important}.promo-col-4>div{width:23em;height:32.4em}.promo-col>div img,.promo-col-4>div img{width:100%}.promo-col>div h2{margin-top:.6em;padding:0 52px;white-space:normal}.promo-col-4>div h2{margin-top:.6em;padding:0 30px;white-space:normal}.promo-col-c0 .titlecomponent+.richtext p,.promo-col-c1 .titlecomponent+.richtext p,.promo-col-c2 .titlecomponent+.richtext p,.promo-col-4-c0 .titlecomponent+.richtext p,.promo-col-4-c1 .titlecomponent+.richtext p,.promo-col-4-c2 .titlecomponent+.richtext p{font-size:1.5em}.promo-col>div .titlecomponent+.richtext,.promo-col-4>div .titlecomponent+.richtext{padding:0 30px}.promo-col>div .richtext+.richtext,.promo-col-4>div .richtext+.richtext{width:100%;position:absolute;bottom:20px;text-align:center}.promo-col>div .richtext+.richtext p,.promo-col-4>div .richtext+.richtext p{margin:0}.promo-col>div .richtext+.richtext a,.promo-col-4>div .richtext+.richtext a,.intro-col-c0>.richtext+.richtext a{min-width:160px;display:inline-block;padding:4px 8px 4px 10px;background:#0b0b0b;font-family:'Gotham-Book';color:#b89b71;text-transform:uppercase}.intro-col-c0>.richtext+.richtext a{text-align:center}.promo-col>div .richtext+.richtext a:after,.promo-col-4>div .richtext+.richtext a:after{display:inline-block;content:'\232a';padding-left:15px}.span4>div{width:33%;display:inline-block;vertical-align:top;text-align:center}.span4>div img{height:100px;margin-bottom:1em}.tabbedmenu{margin:30px 0}.tabs{margin-left:-15px}ul.tabs,ul.tabs li,ul.tabs li.active,.tab_text{border:0}ul.tabs li{height:auto;line-height:normal}ul.tabs li a{position:relative;padding:15px;font-size:1.4em;text-transform:capitalize;color:#a4707d}ul.tabs li.active a{color:#111}ul.tabs li.active a:after{position:absolute;left:50%;top:34px;margin-left:-5px;display:block;content:'\25be';font-size:16px}.tab_text{padding:30px 0 0}.tab_text>div>h2:first-child{height:0;text-indent:100%;white-space:nowrap;overflow:hidden;margin:0}.pagelistnews .image_text .image{margin-right:30px}.pagelistnews .text{margin-bottom:2.5em}.pagelistnews .text>p{margin:0}.pagelistnews h4{font-size:1.8em}.readmore{width:780px;float:right!important}.readmorelabel a{font-size:1.5em}div.parsys_column div.parsys_column{margin-top:0!important}#footer .parsys_column{background:none}div.parsys_column{margin:0}.cq-colctrl-default,.cq-colctrl-lt0,.cq-colctrl-lt7,.cq-colctrl-lt4{width:958px!important;margin:35px auto!important;display:block;float:none!important;background:none!important}.cq-colctrl-default>div,.cq-colctrl-lt0>div,.cq-colctrl-lt7>div,.cq-colctrl-lt4>div{float:none;display:inline-block;vertical-align:top}div.cq-colctrl-lt0-c0{width:45%;padding-right:30px}div.cq-colctrl-lt0-c1{width:45%;padding-left:30px}div.cq-colctrl-lt0-c0 img{float:right}.imageOptions{display:inline-block;height:auto;float:none;vertical-align:top}.photo_gallery{margin:0;float:none!important;display:inline-block;text-align:center}.gallery li{width:auto;height:auto;margin:0}.gallery li a .top_layer{display:none}.gallery{margin-right:-10px}.gallery a{margin:0 10px 10px}.gallery img{display:block}.imageOptions{margin-bottom:0}.mediagallery{width:958px;margin:40px auto 20px}#footer{overflow:visible}#local_footer{border-top:0;padding:0}#local_footer .socialmedia a,#local_footer .socialmedia img{width:auto;height:auto}#footer{width:100%;border-top:1px solid #d3d3d3;padding:20px 0;text-align:center;color:#d4d4d4;background:#fff}#local_footer{width:958px;margin:0 auto;font-size:.778em;line-height:normal}.footer_minilocation_left{padding-bottom:1em}#local_footer .headerlogo{margin-bottom:3em}#local_footer p{line-height:1.8}#local_footer .richtext,.socialmedia{float:none}#local_footer .richtext .text p{font-family:"Gotham-Book";font-size:18px;line-height:1.4}.socialmedia{text-align:center;padding:2em 0 1em}.socialmedia .fr{float:none!important;display:inline-block}#global_footer{width:958px;margin:0 auto;padding:2em 0 2em;border-top:1px solid #d3d3d3;border-bottom:0;font-family:Arial,sans-serif;font-size:1.2em;text-align:center}#global_footer a{color:#a7a7a7;text-decoration:none;float:none!important;display:inline-block;vertical-align:top}#global_footer a:hover{color:#fff}.cq-wcm-edit #local_footer .richtext,.cq-wcm-edit .socialmedia,.cq-wcm-edit .cq-image-placeholder{float:none!important}.cq-wcm-edit #header,.cq-wcm-edit #reserve_masthead .parsys.Reservation,.cq-wcm-edit .reservation.section,.cq-wcm-edit .parsys.Reservation>.richtext,.cq-wcm-edit .reservation,.cq-wcm-edit #reservation{position:static}.cq-wcm-edit #reserve_masthead .parsys.Reservation{position:static;margin-left:0}.cq-wcm-edit .masthead+.richtext,.cq-wcm-edit #reserve_masthead>.parsys.Reservation{position:static;width:auto}.hide-text{text-indent:100%;white-space:nowrap;overflow:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
/*-----custom----*/
#ja-botsl1 div.moduletable h3 {
	background: none;
	border: none!important;
	color: #0033ff;
	margin: 0 0 10px 0;
	padding: 5px 0;
}

#ja-botsl1 div.moduletable,
#ja-botsl1 div.moduletable_default {
	background: none;
	color: #555555;
	margin: 0;
	padding: 0 10px;
}

#ja-botsl1 div.ja-box-ct {
	background: none;
	border: none;
	padding: 0;
	color:#000;font-weight:bold;
}

#ja-botsl1 .ja-box-left div.moduletable,
#ja-botsl1 .ja-box-left div.moduletable_default {
	margin: 0 10px 0 0;
}

#ja-botsl1 .ja-box-right div.moduletable,
#ja-botsl1 .ja-box-right div.moduletable_default {
	margin: 0;
}

#ja-botsl1 .ja-box-center div.moduletable,
#ja-botsl1 .ja-box-center div.moduletable_default {
	margin: 0 10px 0 0;
}

#ja-botsl1 .img-border {
	background: #000000;
	border: 1px solid #222222;
}

#ja-botsl1 a {
	color: #fff;
}

#ja-botsl1 a:hover,
#ja-botsl1 a:focus,
#ja-botsl1 a:active {
	color: #cc0033;
	text-decoration: none;
}

#ja-botsl1 li {
	background: none;
	border-bottom: 1px solid #222222;
}

#ja-botsl1 li a {
	
}

#ja-botsl1 li a:hover,
#ja-botsl1 li a:active,
#ja-botsl1 li a:focus {
	
}
.ja-box-full, .ja-box-left, .ja-box-center, .ja-box-right {
    float: left;
    overflow: hidden;
}
#ja-botsl1 div.moduletable h3{
	font-weight: bold;
    text-transform: uppercase;
}

div.parsys_column div.parsys_column {    
    float: left;
    margin: 15px;
    width: 30%;
    float: left;
}
.parsys.contentarea{
	width: 970px;    
    margin: auto;
	overflow:hidden;
}
.contentarea>.promo-col, .contentarea>.promo-col-4{
	height:auto
}
#mast_head1,.booking-order{
	text-align:center;	
	margin:auto;
}
.booking-order{
	position:relative;
	width:100%;
	float:left;
}
.booking-order .content_wapper{
	background: url(images/bg_order_middle.jpg) repeat-y center;    
    min-height: 1092px;	
	position:relative;
	z-index:10;	
}
.booking-order .top_page{
	background: url(images/bg_order_top.jpg) no-repeat center;
	position:absolute;
	top:0;z-index:20;
	width:958px;
	height:102px;
}

.booking-order .bottom_page{
	background: url(images/bg_order_bottom.jpg) no-repeat center;
	position:absolute;
	bottom:0;z-index:20;
	width:958px;
	height:102px;
}

.foodtour{
	position:relative;
	width:100%;
	float:left;
}
.foodtour .content_wapper{
	background: url(images/foodtour_middle.jpg) repeat-y center;    
    min-height: 1092px;	
	position:relative;
	z-index:10;	
}
.foodtour .top_page{
	background: url(images/foodtour_top.jpg) no-repeat center;
	position:absolute;
	top:0;z-index:20;
	width:958px;
	height:95px;
}

.foodtour .bottom_page{
	background: url(images/foodtour_bottom.jpg) no-repeat center;
	position:absolute;
	bottom:0;z-index:20;
	width:958px;
	height:95px;
}
.foodtour .content{
	width: auto;
    padding: 30px 60px;
}
.booking-order .content{
	width: auto;
    padding: 40px 60px;
}
.contentarea{
	font-size:14px;
	text-align:left;
}
#ui-datepicker-div .ui-datepicker-calendar th,#ui-datepicker-div a,#ui-datepicker-div .ui-datepicker-header{
	font-size:14px;
}
.contentarea.order{
	font-size:16px;
}
h1, h2, h3, h4{
	margin-top:0;
}

.btn-warning {
    color: #fff;
    background-color: #000;
    border-color: #eea236;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
	text-transform:uppercase;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	margin:20px 0px;
}
.btn:hover{
	color:#6e0032;
	background:#fff;
	border:1px solid #000;
}
.texts {
	font-size: 30px;
    color: #000;
    font-weight: bold;
}
.price-text{
	color: #000;
    font-weight: bold;
    font-size: 14px;
}
.title{
	font-size: 30px;
    color: #6e0032;
    font-weight: bold;
    text-transform: uppercase;
}
.booking-order .title{
	padding-top:50px;
	font-size:60px;
	color: #000;
}
.news{
	text-align:left!important;
}
.views-row-first.row-news{margin-top:5px;}
.row-news {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px dashed #d2d2d2;
    padding-bottom: 5px;
    text-align: left;
    margin-left: 5px;
    padding-top: 5px;	
}
.row-news .views-field-field-image{float:left;margin-right:20px;}
.row-news .views-field-field-image img{margin-right: 10px;padding:2px;border: 1px solid #d2d2d2;width: 180px;}
.row-news .views-field-title a{
    color: #524f44;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
	font-size:16px;
}
.row-news .views-field-title a:hover{
    text-decoration: underline;
    color: #ff6600;    
}
.row-news .views-field-view-node{
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
.row-news .views-field-view-node a{color: #000;}
/*******************/
.news .field-name-field-image img{border:1px solid #d2d2d2;padding:2px;}
.news h2.title-node{margin-bottom:5px;}
.promo-col>div img, .promo-col-4>div img{
	width: auto;
    margin: 20px 0px;
}
/************/
.tin-cung-loai{
   margin-left: 0px;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px;
    background: none;
    padding: 50px 10px;
}
.tin-cung-loai  .title-inner{
   width: 100%;
   padding: 0 0 2px;
   font-size: 14px;
   text-transform: uppercase;
   border-bottom: 4px double #febbb3;
   padding-bottom: 5px;
   margin-top: 2px;
   margin-bottom:10px;
   font-weight: bold;
    color:#febbb3;
}
.tin-cung-loai .view-content li {
   background: url(images/bg-li-footer-static.png) center left no-repeat;
   padding: 0 0 0 20px;
   line-height: 25px;
   font-size: 14px;
   margin: 0px;
   color: #000;
   float:left;
   width: 550px;
    text-align: left;
}
.field-name-body img{max-width: 500px;height:auto;}
.tin-cung-loai .view-content li  a{color: #000;}
.tin-cung-loai .block-title{
    border-bottom: 2px solid #AFD599;
    padding-bottom: 3px;
    font-size: 20px;
}
.pull-left{
	text-align:left!important;
}
.wpcf7-text{
	height:30px;
	border-radius:1px solid #ccc;
	border-radius:5px;
}
input.wpcf7-text{
	font-size:14px;
}
.parsys_column .item img{
	width:287px;
	height:240px;
}
.titlenone{
	text-align:center;
	margin:10px 0;
	text-transform:uppercase;
}
.textlink{
	text-align: center;
    margin: 10px 0px;
}
.textlink a{
	min-width: 160px;
    display: inline-block;
    padding: 4px 8px 4px 10px;
    background: #0b0b0b;    
    color: #fff;
    text-transform: uppercase;
	font-size:16px;
}
.readmore{
	color:#d38636!important;
}

.form11 .am_pm_select {
    width: 47px!important;
    vertical-align: middle;
    margin-top: -15px;
    margin-left: 7px;
}
.nivo-controlNav{display:none}
#wpns_slider img{max-height:270px;}
.nivo-prevNav{
	background: url(images/arrows.png) 0px 0px;
    width: 38px;
    height: 48px;
	text-indent:9999px;
}
.nivo-nextNav{
	background: url(images/arrows.png) 38px 0px;
    width: 38px;
    height: 48px;
	text-indent:9999px;
}
.ninja-forms-all-fields-wrap{
	width: 50%;
    text-align: center;
    margin: auto;
}
.ninja-forms-all-fields-wrap input, .ninja-forms-all-fields-wrap select{height:30px!important;}
.ninja-forms-required-items{display:none}
.ninja-forms-all-fields-wrap label{text-align:left}


.testimonial-items {
    padding: 0 10px 0 4px;
}

.testimonial-items {
    margin: 0 20px;
    padding: 0;
    width: 45%;
    float: left;
}
.testimonial-items .item{
	border-bottom:1px solid #eee;margin-bottom:10px;padding-bottom:10px;clear:both;overflow:auto}
.testimonial-items .title{padding:10px 10px 10px 0;margin:0 0 0 10px;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;text-align:center}
.testimonial-items .submited-date{color:#9a9a9a;font-style:italic;float:left}
.testimonial-items .guest-name{
	font-weight:bold;text-transform:uppercase;font-size:1.2em;letter-spacing:0;
	float:right;
}

.testimonial-items .testimonial-details {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: justify;
}

.testimonial-items .item .picture {
    background-color: transparent;
    border: 2px solid #ededed;
    border-radius: 100%;
    float: left;
    padding: 3px;
    margin-right: 10px;
}
.um_generated_form{
	text-align:left
}
.um_input {
    width: 200px;
    height: 30px;
}
.promo-col .register,.wppb-user-forms,.promo-col .login{
	text-align:left;
}
#wppb-login-wrap .login-username input, #wppb-login-wrap .login-password input{
	width:40%;
}
.login-top{
	position: absolute;
    top: 15px;
    right: -327px;
}
.login-top li{
	display:inline;
	padding:0 5px;	
	color:white;
}
.login-top li a{
	color:white;
	font-size:14px
}
.near_footer{
	width:100%;
	float:left;
	margin-bottom:25px;
}
.logo_footer, .infor{
	width: 33%;
    float: left;
    font-size: 14px;
    text-align: left;
	color:black;
}
.share{
	float:right;
}
.push-left{
	text-align:left!important;
}

/*********MENU***********/
.topnav{
    float:left;
	width: 958px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: right;
	padding-left:75px;
	z-index:999;
    background:none;
    border-radius: 5px;
    height: 35px;
}
.topnav .content ul.menu{
	margin:0;
	padding:0;
	list-style:none;
}
.topnav .content ul.menu  li{
	position: relative;
    text-align: left;
    margin: 0;
    padding: 7px 0px 5px 0px;
    list-style: none;
    float: left!important;
}

.topnav  .content > ul> li> a{
	height: 36px;
    line-height: 36px;
    padding: 0 14px;    
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
}
.topnav  .content > ul> li.last a{border-right:0px;}
.topnav  .content > ul> li> a:last-child{background: none;}
.topnav  .content ul li a:first-letter{text-transform: uppercase;}
.topnav  .content >ul> li >a.active-trail,
.topnav  .content >ul >li> a.active,
.topnav  .content >ul >li> a:hover{
    
}
.topnav .content ul.menu li ul{display: none;margin-top:5px;}
.topnav .content ul.menu li:hover ul{
    display: block;
    position: absolute;
    top:30px;
    left:0px;
    width: 200px;
    overflow: visible;
    z-index: 2222;
	background: #000;
}
.topnav .content ul.menu li:hover ul li ul{display: none;}
.topnav .content ul.menu li ul li:hover ul{
    display: block;
    top:0px;
    left:200px;
}
.topnav .content ul.menu li ul li:hover ul li ul{display: none;}
.topnav .content ul.menu li ul li ul li:hover ul{
    display: block;
    top:0px;
    left:200px;
}
.topnav .content ul li ul li{    
    padding: 0px 0px 10px 10px!important;
    width: 189px;
    height: 25px;
    line-height: 25px;
}
.topnav  .content ul li ul li:first-child{margin-top: 5px;}
.topnav .content ul li ul li a{
    text-transform: none;    
    color: #fff;
}
.topnav .content ul li ul li a:hover{color: #E9F302;}













