body,h1,h2,h3,h4,h5,h6,ul,ol,li,img,form,p {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal
}

html,body {
    height: 100%
}

body {
    background-image: url(../../common/images/bg-leaves.jpg);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #676767
}

h1 {
    color: #676767;
    font-size: 22px;
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 12px;
    font-weight: bold
}

h2 {
    color: #676767;
    font-size: 14px;
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 15px;
    font-weight: bold
}

h3 {
    color: #676767;
    font-size: 12px;
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 12px;
    font-weight: bold
}

h4 {
    color: #676767;
    font-size: 10px;
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 8px;
    font-weight: bold
}

h5 {
    color: #676767;
    font-size: 8px;
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 8px;
    padding-left: 7px;
    font-weight: bold
}

h6 {
    color: #676767;
    font-size: 6px;
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 8px;
    padding-left: 7px;
    font-weight: bold
}

p {
    margin-bottom: 15px
}

a {
    color: #005597;
    text-decoration: none
}

a:hover {
    color: #005597
}

.global_width {
    /* width:958px */
}

.clear {
    clear: both
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

.fr {
    float: right
}

.fl {
    float: left
}

.head_foot_bg {
    /* clear: both; */
    /* margin-top: 30px; */
}
.head_foot_bg #footer{
    top: 30px;
    position: relative;
}
#header {
    margin: auto;
    overflow: hidden;
    padding: 15px 0 10px
}

#header_logo {
    width: 100%
}

.lang_loc {
    margin-bottom: 15px;
    width: 40%
}

.lang_loc .new {
    clear: both
}

#language select,#location select {
    font-size: 11px;
    color: #676767;
    margin: 0 0 0 10px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0)
}

.address {
    color: #676767;
    border-left: 1px solid #676767;
    float: left;
    line-height: 55px;
    margin: 0 0 0 15px;
    padding: 0 0 0 15px
}

.customselect {
    height: 16px;
    cursor: pointer
}

#language .customselect {
    height: 16px
}

.customStyleSelectBox {
    border: 1px solid #676767;
    color: #676767;
    height: 16px;
    line-height: 16px;
    text-indent: 2px;
    margin: 0 0 0 10px
}

.customStyleSelectBoxInner {
    background: url(../../common/images/xcustom_select_arrow.png.pagespeed.ic.f0yxTo7U6P.png) no-repeat scroll right 0 transparent
}

#container {
    margin: auto;
    overflow: hidden;
    position: relative;
    clear: both
}

#mast_head {
    height: 345px!important;
    width: 958px!important;
    position: relative
}

#mast_head img {
    position: absolute;
    top: 0;
    left: 0
}

#mast_head a {
    border: 0 none;
    display: block
}

.nivo-controlNav {
    position: absolute;
    bottom: 20px;
    right: 3px;
    list-style: none;
    overflow: hidden;
    z-index: 7
}

.nivo-controlNav a {
    opacity: .6;
    text-decoration: none;
    display: block;
    height: 13px;
    width: 13px;
    text-indent: -9999px;
    float: left;
    margin-right: 10px;
    _margin-bottom: -6px;
    background: transparent url(../../common/images/xcarousel_rotator_inactive.png.pagespeed.ic.x8TYwb5-S0.png) left top;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('carousel_rotator_inactive.png');
    cursor: pointer
}

.nivo-controlNav a.active {
    opacity: .9;
    background: transparent url(../../common/images/xcarousel_rotator_active.png.pagespeed.ic.oJ-jClQIQW.png) left top;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('carousel_rotator_active.png')
}

.carousel_image_link {
    z-index: 6;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

#reserve_masthead {
    position: relative
}

#reservation {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 242px;
    border: 3px solid #676767;
    background: #fff;
    height: 177px;
    opacity: .9;
    z-index: 9000
}

#reservation h3 {
    line-height: 30px;
    padding: 0 12px;
    text-transform: uppercase;
    background: #676767;
    color: #fff;
    margin-bottom: 10px
}

form {
    color: #333
}

label {
    margin-bottom: 2px;
    text-transform: capitalize
}

input,textarea {
    border: 1px solid #999;
    font-size: 12px;
    color: #333;
    display: block
}

input[type="checkbox"] {
    width: auto;
    margin: 0;
    border: 0;
    float: left
}

input[type="submit"] {
    background: #000;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 35px;
    margin-bottom: 10px
}

.contact_form input,.contact_form textarea {
    width: 80%
}

.contact_form input[type="checkbox"],.contact_form input[type="submit"] {
    width: auto
}

.terms_condition {
    float: left;
    margin-left: 10px
}

.terms_condition .text {
    display: block
}

.reservation_form {
    padding: 0 12px;
    font-size: 11px
}

.reservation_form input,.reservation_form select {
    font-size: 11px
}

.reservation_form label {
    text-transform: uppercase;
    display: inline-block
}

.reservation_form .customStyleSelectBox {
    display: block!important;
    margin-left: 0
}

.reservation_form .date {
    display: inline-block
}

.reservation_form .calendarbutton {
    margin-left: 5px;
    vertical-align: top;
    cursor: pointer
}

.reservation_form .time,.reservation_form .no_of_people {
    float: left;
    margin-right: 15px
}

.reservation_form .no_of_people .customStyleSelectBox {
    width: 37px
}

.content_box {
    padding: 25px 10px
}

.last {
    padding-right: 0;
    border: none;
    margin-right: 0
}

.first {
    padding-left: 0
}

.image_text {
    margin-bottom: 15px
}

.image_text .image {
    width: 141px;
    height: 70px;
    margin-right: 15px;
    overflow: hidden;
    float: left
}

.text_below_image {
    margin-bottom: 15px
}

.text_below_image .image {
    width: 300px;
    height: 166px;
    margin-bottom: 30px
}

.promo {
    font-family: georgia;
    font-size: 18px
}

#footer {
    margin: auto;
    overflow: auto
}

#global_footer a,.followus a,.followus span {
    text-transform: capitalize;
    color: #676767;
    margin-right: 10px
}

#global_footer,#local_footer {
    padding: 10px;
    border-top: 1px solid #e5e5e5
}

#local_footer p {
    margin: 0
}

#global_footer,.followus {
    font-size: 11px
}

.social_icon a {
    display: inline-block;
    font-size: 0;
    height: 18px;
    width: 17px;
    vertical-align: top;
    margin-right: 5px;
    overflow: hidden
}

.social_icon a img {
    height: 18px;
    width: 17px
}

.external_link {
    background: url(../../common/images/external_link_icon_grey.gif.pagespeed.ce._XuY4MSUFO.gif) no-repeat scroll right 3px transparent;
    padding-right: 10px
}

a.external_link:hover {
    background: url(../../common/images/xexternal_link_icon_blue.gif.pagespeed.ic.m24NlOgJrs.png) no-repeat scroll right 3px transparent
}

div.calendarbutton {
    position: absolute;
    width: 16px;
    height: 15px;
    background: transparent url(../../common/images/calendar_icon.png) no-repeat center
}

#CalendarPickerControl {
    width: 225px;
    height: auto!important;
    background: url(../../common/images/xui-bg_flat_75_ffffff_5F40x100.png.pagespeed.ic.-frxtVxQm5.png) repeat-x scroll 50% 50% #fff;
    border: 1px solid #aaa;
    color: #222;
    padding: .2em;
    border-radius: 4px 4px 4px 4px
}

#CalendarPickerControl table.calframe {
    width: 100%;
    border: none;
    text-align: center;
    font-size: .8em;
    border-spacing: 0
}

#CalendarPickerControl td.monthname {
    width: 100%;
    background: url(../../common/images/xui-bg_highlight-soft_75_cccccc_1x100.png.pagespeed.ic.mBvS-gxUKC.png) repeat-x scroll 50% 50% #ccc;
    border: 1px solid #aaa;
    color: #222;
    font-weight: bold;
    border-radius: 4px 4px 4px 4px;
    padding: .2em 0;
    font-size: 11px;
    line-height: 20px
}

#CalendarPickerControl td.monthname .prevCont {
    float: left;
    height: 1.8em;
    width: 1.8em;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid transparent;
    margin-left: 2px
}

#CalendarPickerControl td.monthname .prevCont:hover {
    border: 1px solid #ddd;
    background: #ddd url(../../common/images/ui-bg_glass_60_dddd_1x400.png.pagespeed.ce.wSxlENrT6_.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #000
}

#CalendarPickerControl td.monthname .prev {
    display: block;
    height: 16px;
    width: 16px;
    background-image: url(../../common/images/xui-icons_222222_5F256x240.png.pagespeed.ic.5BzEIuT1OI.png);
    background-position: -80px -192px;
    overflow: hidden;
    margin-left: 1px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 0
}

#CalendarPickerControl td.monthname .prevCont:hover .prev {
    background-image: url(images/ui-icons_c98000_5F256x240.png)
}

#CalendarPickerControl td.monthname .nextCont {
    float: right;
    height: 1.8em;
    width: 1.8em;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid transparent;
    margin-right: 2px
}

#CalendarPickerControl td.monthname .nextCont:hover {
    border: 1px solid #ddd;
    background: #ddd url(../../common/images/ui-bg_glass_60_dddd_1x400.png.pagespeed.ce.wSxlENrT6_.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #000
}

#CalendarPickerControl td.monthname .next {
    height: 16px;
    width: 16px;
    background-image: url(../../common/images/xui-icons_222222_5F256x240.png.pagespeed.ic.5BzEIuT1OI.png);
    background-position: -48px -192px;
    overflow: hidden;
    display: block;
    margin-left: 1px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 0
}

#CalendarPickerControl td.monthname .nextCont:hover .next {
    background-image: url(images/ui-icons_c98000_5F256x240.png)
}

#CalendarPickerControl td.monthnameLNX {
    width: 100%;
    font: 13px Verdana;
    color: z;
    font-weight: bold;
    background-color: #e1e1e1
}

#CalendarPickerControl table.navigation {
    width: 100%;
    text-align: center
}

#CalendarPickerControl td.navbutton {
    font: 10px Verdana;
    color: #222;
    font-weight: bold;
    cursor: pointer
}

#CalendarPickerControl span.yearbutton {
    cursor: pointer
}

#CalendarPickerControl span.yearbutton:hover {
    text-decoration: underline
}

#CalendarPickerControl td.dayname {
    font: .9em Verdana;
    color: #222;
    font-weight: bold;
    border: 0 none;
    font-weight: bold;
    padding: 6px 2px;
    text-align: center
}

#CalendarPickerControl td.daynameLNX {
    font: 11px Verdana;
    color: highlighttext;
    font-weight: bold;
    background-color: highlight
}

#CalendarPickerControl td.weeknumber {
    font: 9px Verdana;
    background-color: buttonface;
    color: inactivecaptiontext;
    border-width: 0
}

#CalendarPickerControl td .disabledDay {
    background: #f6f6f6;
    border: 1px solid #f0f0f0;
    color: #c4c4c4;
    font-weight: normal;
    display: block;
    font-size: .8em
}

#CalendarPickerControl td .validDay {
    background: url(../../common/images/ui-bg_glass_75_e6e6e6_1x400.png.pagespeed.ce.9CVDVsKoya.png) repeat-x scroll 50% 50% #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #555;
    font-weight: normal;
    display: block;
    font-size: .8em
}

#CalendarPickerControl td.today span {
    font-size: .8em;
    border: 1px solid #404040;
    color: #ccc;
    background: url(../../common/images/ui-bg_glass_55_555555_1x400.png.pagespeed.ce.npLGNtfYrq.png) repeat-x scroll 50% 50% #555;
    display: block
}

#CalendarPickerControl td.current span {
    font-size: .8em;
    background: url(../../common/images/ui-bg_glass_15_121212_1x400.png.pagespeed.ce.R9QAevtP4-.png) repeat-x scroll 50% 50% #121212;
    border: 1px solid #000;
    color: #fff;
    font-weight: normal;
    display: block
}

#nav {
    margin: 0 auto;
    position: realtive;
    z-index: 10000000;
    background: #4e8abe
}

.sf-menu,.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.sf-menu {
    line-height: 1.0
}

.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 10em
}

.sf-menu ul li {
    width: 100%
}

.sf-menu li:hover {
    visibility: inherit
}

.sf-menu li {
    float: left;
    position: relative
}

.sf-menu a {
    display: block;
    position: relative
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
    left: 0;
    top: 32px;
    z-index: 99999999
}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {
    top: -999em
}

ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
    left: 10em;
    top: 0
}

ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {
    top: -999em
}

ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {
    left: 10em;
    top: 0
}

.sf-menu {
    float: left
}

.sf-menu a {
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid #fff
}

.sf-menu a.lastacnhor {
    border: none
}

.sf-menu a,.sf-menu a:visited {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold
}

.sf-menu li {
    padding: 10px 0;
    cursor: pointer
}

.sf-menu li li {
    background: none;
    margin: 0
}

.sf-menu li>ul {
    background: #fff;
    background: rgba(255,255,255,.7);
    width: 180px
}

.sf-menu li li li {
    background: none
}

.sf-menu li li a,.sf-menu li li a:visited {
    text-transform: capitalize;
    color: #676767;
    border: 0
}

.sf-menu li:hover,.sf-menu li li:hover a,.sf-menu li.sfHover,.sf-menu li li.sfHover a,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active {
    background: #4e8abe;
    outline: 0;
    color: #fff
}

.sf-menu span {
    border-right: 1px solid #fff;
    display: inline-block;
    height: 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 10000;
    cursor: pointer
}

div.cq-colctrl-cols {
    width: 100%;
    float: left
}

div.cq-colctrl-default {
    width: 100%
}

div.cq-colctrl-lt0 {
    background: url(images/cq-colctrl-lt0.gif) repeat-y scroll 0 0
}

div.cq-colctrl-lt0-c0 {
    width: 48%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt0-c1 {
    width: 48%;
    float: left
}

div.cq-colctrl-lt1 {
    background: url(images/cq-colctrl-lt1.gif) repeat-y scroll 0 0
}

div.cq-colctrl-lt1-c0 {
    width: 34%;
    padding-right: 14px;
    float: left
}

div.cq-colctrl-lt1-c1 {
    width: 63%;
    float: left
}

div.cq-colctrl-lt2 {
    background: url(images/cq-colctrl-lt2.gif) repeat-y scroll 0 0
}

div.cq-colctrl-lt2-c0 {
    width: 31%;
    padding-right: 14px;
    float: left
}

div.cq-colctrl-lt2-c1 {
    width: 31%;
    padding-right: 14px;
    float: left
}

div.cq-colctrl-lt2-c2 {
    width: 32%;
    float: left
}

div.cq-colctrl-lt3 {
    background: url(images/cq-colctrl-lt3.gif) repeat-y scroll 0 0
}

div.cq-colctrl-lt3-c0 {
    width: 33%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt3-c1 {
    width: 44%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt3-c2 {
    width: 19%;
    float: left
}

div.cq-colctrl-lt9 {
    background: url(images/cq-colctrl-lt9.gif) repeat-y scroll 0 0
}

div.cq-colctrl-lt9-c0 {
    width: 30%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt9-c1 {
    width: 40%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt9-c2 {
    width: 29%;
    float: left
}

div.cq-colctrl-lt4 {
    margin: -18px 0
}

div.cq-colctrl-lt4-c0 {
    width: 33%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt4-c1 {
    width: 63%;
    float: left
}

div.cq-colctrl-lt7 {
    margin: -18px 0
}

div.cq-colctrl-lt7-c0 {
    width: 63%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt7-c1 {
    width: 33%;
    float: left
}

div.cq-colctrl-lt6 {
    margin: -18px 0
}

div.cq-colctrl-lt6-c0 {
    width: 73%;
    padding-right: 4px;
    float: left
}

div.cq-colctrl-lt6-c1 {
    width: 23%;
    float: left
}

.asseteditor div.cq-colctrl-default {
    width: 100%
}

.asseteditor div.cq-colctrl-lt0 {
    background: none
}

.asseteditor div.cq-colctrl-lt0-c0 {
    width: 354px;
    padding-right: 15px;
    float: left
}

.asseteditor div.cq-colctrl-lt0-c1 {
    width: 466px;
    float: left
}

div.parsys_column {
    border: 0;
    vertical-align: top;
    margin: 5px 0 5px 0
}

.language,.location {
    float: right
}

#location .customStyleSelectBox,#language .customStyleSelectBox {
    border: 0
}

#location .customStyleSelectBoxInner,#language .customStyleSelectBoxInner {
    background: url(../../common/images/xcustom_select_arrow_langLoc.png.pagespeed.ic.CV4B_Hrn_G.png) no-repeat scroll right 0 transparent
}

.gal {
    width: 624px;
    border-right: none;
    float: none
}

.gal p {
    line-height: 20px
}

.photo_gallery {
    clear: both;
    margin: 30px 0 0 0
}

.gallery {
    margin-right: 20px
}

.gallery h2,.virtual h2 {
    margin-bottom: 20px
}

.gallery ul {
    list-style: none
}

.gallery li {
    display: inline-block;
    margin: 0 8px 8px 0;
    width: 146px;
    height: 80px
}

.gallery a {
    display: block;
    position: relative;
    color: #fdfdfd
}

.top_layer {
    bottom: 10px;
    position: absolute;
    right: 10px
}

.grid_1_by_3.virtual {
    width: 274px;
    margin-top: 30px
}

.virtual .text_below_image .image {
    margin-bottom: 8px;
    width: 274px;
    height: 168px
}

.imageOptions,.videoOptions {
    float: left
}

#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0
}

#jquery-lightbox a img {
    border: none
}

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 40px 40px 10px
}

#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0
}

#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

#lightbox-nav {
    height: auto
}

#lightbox-nav-btnPrev,#lightbox-nav-btnNext {
    position: absolute
}

#lightbox-container-image-box>#lightbox-nav {
    left: 0
}

#lightbox-nav a {
    outline: none
}

#lightbox-nav-btnPrev,#lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom:1;display: block
}

#lightbox-nav-btnPrev {
    left: 0;
    float: left;
    top: 40px
}

#lightbox-nav-btnNext {
    right: 0;
    float: right;
    top: 40px
}

#lightbox-nav-btnPrev span,#lightbox-nav-btnNext span {
    display: block;
    height: 40px;
    position: absolute;
    top: 50%;
    width: 64px
}

#lightbox-nav-btnPrev span {
    left: 10px
}

#lightbox-nav-btnNext span {
    right: 10px
}

#lightbox-container-image-data-box {
    font: 10px Verdana,Helvetica,sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 10px 40px 40px
}

#lightbox-container-image-data {
    color: #8f8f8f
}

#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left
}

#lightbox-image-details-caption {
    font-weight: bold
}

#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em
}

#lightbox-secNav {
    position: absolute;
    right: 40px;
    top: 15px
}

#lightbox-secNav-btnClose {
    line-height: 12px;
    width: 66px;
    color: #8f8f8f;
    padding-bottom: .7em;
    text-decoration: underline;
    z-index: 110
}

.expandableDiv a.toggle_link.tac_title {
    text-transform: capitalize;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    background: url(../../common/images/tac_plus.gif.pagespeed.ce.Kwh7HjEZBV.gif) no-repeat left 3px;
    margin-bottom: 5px;
    display: block
}

.expandableDiv .expandableContent.tac_content {
    display: none
}

.expandableDiv a.toggle_link.tac_title.expandedTitle {
    background: url(../../common/images/tac_minus.gif.pagespeed.ce.OjiikyFA7q.gif) no-repeat left 3px
}

.facebooklikebutton {
    padding-left: 877px
}

.fr.followus a,.fr.social_icon span {
    margin-top: 6px;
    display: inline-block;
    float: left;
    margin-right: 8px
}

.fr.social_icon a {
    margin-top: 0;
    margin-right: 5px
}

#local_footer .richtext {
    float: left
}

h2 {
    color: #676767;
    font-size: 14px;
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 15px;
    font-weight: bold
}

.fr {
    float: right!important
}

.fl {
    float: left!important
}

.menu_list h3 {
    margin-top: 25px
}

.menu_list_cont {
    width: 47%;
    float: left;
    padding-right: 20px
}

.menu_list_cont p {
    margin-bottom: 2px;
    color: #7d7d7d
}

.download {
    background: #4e8abe;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    padding: 5px 15px;
    float: right
}

.download_link {
    display: block;
    text-transform: capitalize
}

.event_list .image_text {
    margin-bottom: 8px
}

.event_list .image_text .image {
    margin-right: 10px
}

.event_list .image_text .text {
    float: left;
    border-bottom: 1px solid #e5e5e5;
    width: 453px;
    padding-bottom: 8px
}

.readmore {
    float: left;
    width: 100%
}

#readmorelabel {
    float: right
}

.map {
    width: 454px;
    height: 296px
}

.addr {
    margin-bottom: 45px
}

.addr p {
    margin-bottom: 2px
}

.last {
    padding-right: 0!important;
    border: none!important;
    margin-right: 0!important
}

.first {
    padding-left: 0!important
}

.nobrd {
    border: none!important
}

.nopad {
    padding: 0!important
}

.nobrdpad {
    border: none!important;
    padding: 0!important
}

.mb15 {
    margin-bottom: 15px!important
}

.cap {
    text-transform: capitalize
}

.underline {
    text-decoration: underline
}

.content_box {
    padding: 25px 10px
}

.grid_1_by_3 {
    border-right: 1px solid #cecece;
    float: left;
    height: 100%;
    padding: 0 20px;
    width: 272px
}

.grid_2_by_3 {
    border-right: 1px solid #cecece;
    float: left;
    height: 100%;
    padding: 0 20px 0 0;
    width: 604px
}

.grid_1_by_3.last {
    width: 292px
}

.grid_1_by_3.first {
    width: 292px
}

ul.tabs {
    border: 1px solid #c8c8c8;
    height: 30px;
    list-style: none outside none;
    width: 100%;
    border-top: none;
    border-right: none
}

ul.tabs li {
    border-right: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    font-weight: bold;
    font-size: 13px;
    float: left;
    height: 29px;
    line-height: 29px;
    margin: 0 0 -1px 0;
    overflow: hidden
}

ul.tabs li.active {
    border-bottom: 1px solid #fff
}

ul.tabs li a {
    color: #686868;
    display: block;
    outline: medium none;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase
}

ul.tabs li.active a {
    color: #4e8abe
}

.tab_text {
    padding: 15px;
    border: 1px solid #c8c8c8;
    border-top: none;
    min-height: 225px
}

.tab_text>div {
    clear: both;
    display: none
}

.none {
    display: none
}

.tab_text>div:first-child {
    display: block
}

.tab_text .grid_2_by_3 {
    width: 65%
}

.tab_text .grid_1_by_3 {
    width: 30%
}

.titlenone {
    text-transform: none
}

.image_text .image {
    width: auto;
    height: auto;
    overflow: auto
}

.terms_condition {
    width: 905px
}

.terms_condition .text {
    margin-top: 3px
}

.facebooklikebutton {
    padding-left: 0;
    overflow: hidden
}

.facebooklikebutton h4 {
    float: right
}

.image_text_listing {
    margin-bottom: 15px
}

.image_text_listing .image {
    width: 141px;
    height: 70px;
    margin-right: 15px;
    overflow: hidden;
    float: left
}

.reservation {
    width: 250px;
    height: 180px;
    position: absolute;
    top: 30px;
    right: 30px
}

.reservation #reservation {
    right: 0;
    top: 0
}

.seoTag {
    font-size: 0;
    height: 0;
    line-height: 0;
    text-indent: -1000em;
    width: 0;
    padding: 0;
    margin: 0
}

#header_logo .address {
    position: relative;
    line-height: normal;
    height: 50px
}

#addressPara {
    width: 100%
}

#nav {
    background: none
}

.sf-menu a,.sf-menu a:visited {
    color: #676767
}

.sf-menu li:hover,.sf-menu li li:hover a,.sf-menu li.sfHover,.sf-menu li li.sfHover a,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active {
    background: #ddd
}

.richtext .text ul,.richtext .text ol {
    margin-left: 15px
}

.gallery a span.videoArrow {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 146px;
    height: 80px;
    background: url(../../common/images/xplay-immersive.png.pagespeed.ic.JFl4Ec-a_0.png) no-repeat center center
}

.image_text_listing {
    overflow: hidden
}

#local_footer .footer_minilocation_left .richtext .text {
    line-height: 20px
}

.facebooklikebutton {
    padding-top: 10px;
    padding-bottom: 10px
}

#footer .borderLess,div.image_text div.text.borderLess {
    border: 0
}

.event_list .image_text .text {
    min-height: 120px
}

.readmorelabel a {
    background: url(../../common/images/tac_plus.gif.pagespeed.ce.Kwh7HjEZBV.gif) no-repeat right 3px;
    padding-right: 15px
}

.readmorelabel a.readLess {
    background: url(../../common/images/tac_minus.gif.pagespeed.ce.OjiikyFA7q.gif) no-repeat right 3px;
    padding-right: 15px
}

.lang_loc {
    width: 100%
}

#location,.lang_loc {
    float: left!important
}

.image_text h4 a {
    color: #676767
}

.event_list .image_text .text {
    width: auto;
    float: none;
    padding-bottom: 10px
}

.readmore,.readmore .expandableContent {
    float: none!important
}

.readmore .expandableContent {
    clear: right!important
}

.readmore {
    margin-top: -25px;
    padding-bottom: 10px
}

.socialmedia {
    float: right
}

.tablecenter {
    margin: 0 auto
}

.tableright {
    margin: 0 0 0 auto
}

.virtual {
    width: 274px
}

.virtual .text_below_image {
    margin-bottom: 0
}

div.cq-colctrl-lt6-c1,div.cq-colctrl-lt7-c1 {
    padding-left: 18px
}

div.cq-colctrl-lt6-c0,div.cq-colctrl-lt7-c0 {
    padding-right: 18px;
    width: 73%
}

div.cq-colctrl-lt6 {
    background: url(../../common/images/xbkgBorder.gif.pagespeed.ic.fHehnXYUzx.png) repeat-y 75% top;
    width: 100%;
    float: left
}

div.cq-colctrl-lt9-c0,div.cq-colctrl-lt3-c0,div.cq-colctrl-lt4-c0 {
    padding-right: 20px;
    width: 28%
}

div.cq-colctrl-lt9-c1,div.cq-colctrl-lt3-c1 {
    padding-right: 21px;
    padding-left: 21px;
    width: 34%
}

div.cq-colctrl-lt9 {
    background: url(../../common/images/xbkgBorderDouble1.gif.pagespeed.ic.3LWxj6uEuU.png) repeat-y 0 top;
    width: 100%;
    float: left
}

div.cq-colctrl-lt3 {
    background: url(../../common/images/xbkgBorderDouble2.gif.pagespeed.ic.JLRggo6kjj.png) repeat-y -10px top;
    width: 100%;
    float: left
}

div.cq-colctrl-lt3-c0 {
    width: 32%
}

div.cq-colctrl-lt3-c1 {
    width: 40%
}

div.cq-colctrl-lt7 {
    background: url(../../common/images/xbkgBorder.gif.pagespeed.ic.fHehnXYUzx.png) repeat-y 65% top;
    width: 100%;
    float: left
}

div.cq-colctrl-lt7-c0 {
    width: 63%
}

div.cq-colctrl-lt4-c0 {
    width: 33%;
    padding-right: 18px
}

div.cq-colctrl-lt4-c1 {
    width: 63%;
    padding-left: 19px
}

div.cq-colctrl-lt4 {
    background: url(../../common/images/xbkgBorder.gif.pagespeed.ic.fHehnXYUzx.png) repeat-y 35% top;
    width: 100%;
    float: left
}

div.cq-colctrl-lt0-c0 {
    padding-right: 19px;
    width: 48%
}

div.cq-colctrl-lt0-c1 {
    padding-left: 18px
}

div.cq-colctrl-lt0 {
    background: url(../../common/images/xbkgBorder.gif.pagespeed.ic.fHehnXYUzx.png) repeat-y 50% top;
    width: 100%;
    float: left
}

div.cq-colctrl-lt3-c2 {
    padding-left: 22px
}

div.cq-colctrl-lt9-c2 {
    padding-left: 21px;
    width: 27%
}

div.cq-colctrl-lt6-c1 {
    width: 23%
}

div.cq-colctrl-lt7-c1 {
    width: 33%
}

div.cq-colctrl-lt9-c1 {
    width: 36%
}

#reservation {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity = 90)
}

#reservation .datewrapper {
    padding-bottom: 10px
}

#reservation .datewrapper label {
    display: block
}

.datewrapper #startDate {
    width: 177px
}

.reservation_form .no_of_people .customStyleSelectBox,.reservation_form .time .customStyleSelectBox {
    width: 80px
}

.reservation_form .no_of_people .customStyleSelectBoxInner,.reservation_form .time .customStyleSelectBoxInner {
    width: 79px!important
}

.reservation_submit#submit {
    margin-left: 0
}

#CALBUTTONstartDate {
    margin-top: 2px
}

#reservation select {
    width: 82px
}

.sf-menu li:hover,.sf-menu li li:hover a,.sf-menu li.sfHover,.sf-menu li li.sfHover a,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active {
    background: #fff;
    color: #000
}

.sf-menu a {
    border-right: 1px solid #aaa
}

#local_footer {
    padding: 6px 0 4px 10px
}

.fr.social_icon a.last {
    margin-right: 0
}

.reservation_form .no_of_people .customStyleSelectBoxInner,.reservation_form .time .customStyleSelectBoxInner {
    float: right
}

.richtext .text ul,.richtext .text ol {
    margin-left: 18px
}

#reservation select {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0)
}

.reservation_form span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100)
}

#global_footer {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px
}

#global_footer p {
    height: 0;
    margin: 0
}

#jquery-overlay {
    z-index: 9001
}

#jquery-lightbox {
    z-index: 9002
}

.event_list .image_text .text {
    min-height: 80px
}

.readmore {
    margin-top: -12px
}

#CALBUTTONstartDate {
    *margin-top: 0
}

.ext-ie #CALBUTTONstartDate,*:first-child+html #CALBUTTONstartDate {
    margin-top: 0
}

#CalendarPickerControl table.calframe td {
    cursor: pointer
}

#CalendarPickerControl table.calframe td.dayothermonth {
    cursor: text
}

#CalendarPickerControl table.calframe td.dayname {
    cursor: default
}

#CalendarPickerControl td.current span,#CalendarPickerControl td .disabledDay,#CalendarPickerControl td .validDay {
    font-size: .9em;
    padding: 2px
}

*:first-child+html .reservation {
    z-index: 9000
}

.headerlogo .fl a {
    display: block
}

*:first-child+html .sf-menu li:hover ul,*:first-child+html .sf-menu li.sfHover ul {
    top: 33px
}

.rowDownload {
    width: 100%;
    float: left
}

.tabbedLeftTitle {
    width: 50%;
    float: left
}

.tabbedLeftDownload {
    width: 50%;
    float: right
}

.tabbedLeftDownload a {
    float: right;
    background: #4e8abe;
    border: none;
    color: #fff;
    uppercase;cursor: pointer;
    padding: 5px 20px
}

.richtext .text ul,.richtext .text ol {
    margin-left: 40px
}

.readmore {
    margin-top: 0
}

div.parsys_column div.parsys_column {
    margin-top: -4px;
    *margin-top: -3px
}

.ext-ie div.parsys_column div.parsys_column {
    margin-top: -3px
}

#reserve_masthead {
    min-height: 240px
}

.text ul,.text ol,.virtual ul,.virtual ol {
    margin-left: 40px
}

span.terms_condition {
    margin-top: -3px;
    *margin-top: 2px
}

.ext-ie span.terms_condition {
    margin-top: 2px
}

div.cq-colctrl-lt8 {
    background: url(../../common/images/xbkgBorder.gif.pagespeed.ic.fHehnXYUzx.png) repeat-y 70% top;
    width: 100%;
    float: left
}

div.cq-colctrl-lt8-c0 {
    width: 68%;
    padding-right: 18px;
    float: left
}

div.cq-colctrl-lt8-c1 {
    width: 28%;
    padding-left: 19px;
    float: left
}

.emailMessage {
    font-weight: bold;
    color: #676767
}

#CalendarPickerControl {
    width: 240px;
    *width: 260px
}

.ext-ie #CalendarPickerControl {
    width: 260px
}

#lightbox-nav-btnNext,#lightbox-nav-btnPrev {
    width: 50%!important;
    height: 100%!important
}

#CalendarPickerControl table.calframe td.monthname td.navbutton {
    cursor: default
}

#CalendarPickerControl td.today span {
    font-size: .9em;
    padding: 2px
}

.text ul,.text ol,.virtual ul,.virtual ol,.event_list .image_text,.tabbedmenu2col,.tabbedmenu,.image_text_listing {
    margin-bottom: 10px
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 10px
}

.photo_gallery {
    margin-top: 4px;
    margin-bottom: 3px
}

div.parsys_column div.parsys_column {
    margin-bottom: 0
}

ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
    left: 180px
}

.sf-menu li li li:hover,.sf-menu li li li.sfHover {
    background: #fff
}

.sf-menu li li li a,.sf-menu li li:hover li a,.sf-menu li li.sfHover li a {
    background: none;
    color: #676767
}

.sf-menu li li li a:hover,.sf-menu li li:hover li a:hover,.sf-menu li li li:hover a,.sf-menu li li:hover li:hover a {
    color: #000
}

.sf-menu li li li a:hover,.sf-menu li li.sfHover li a:hover,.sf-menu li li li.sfHover a,.sf-menu li li.sfHover li.sfHover a {
    color: #000
}

*:first-child+html .topnav {
    position: relative;
    z-index: 1000
}

.topnav,*:first-child+html .topnav {
    position: absolute;
    height: 32px;
    left: 0;
    top: 0;
    z-index: 9000
}

#nav {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity = 80);
    background: #fff
}

.reservation {
    top: 60px
}

#reserve_masthead {
    min-height: 270px
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity = 70)
}

.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu li:hover a,.sf-menu li.sfHover a {
    *background: none
}

.ext-ie .sf-menu li:hover,.ext-ie .sf-menu li.sfHover,.ext-ie .sf-menu li:hover a,.ext-ie .sf-menu li.sfHover a {
    background: none
}

.sf-menu li:hover li:hover,.sf-menu li.sfHover li.sfHover,.sf-menu li:hover li:hover a,.sf-menu li.sfHover li.sfHover a {
    background: #fff
}

.sf-menu li:hover li:hover,.sf-menu li.sfHover li.sfHover,.sf-menu li:hover li:hover a,.sf-menu li.sfHover li.sfHover a {
    *background: #ccc
}

.ext-ie .sf-menu li:hover li:hover,.ext-ie .sf-menu li.sfHover li.sfHover,.ext-ie .sf-menu li:hover li:hover a,.ext-ie .sf-menu li.sfHover li.sfHover a {
    background: #ccc
}

.menu_list_cont {
    width: 46%
}

.tab_text .grid_2_by_3 {
    width: 100%;
    padding: 0
}

.rowDownload {
    padding-bottom: 10px
}

#reservationSubmit {
    max-width: 100%;
    *max-width: 148px
}

.ext-ie #reservationSubmit {
    max-width: 148px
}

*:first-child+html #reservationSubmit {
    max-width: 100%;
    width: 218px
}

#example li a.active {
    color: #000
}

#lightbox-imageName {
    position: absolute;
    left: 40px;
    top: 23px
}

*:first-child+html #lightbox-imageName {
    line-height: normal!important;
    top: 15px
}

*:first-child+html .imageOptions,*:first-child+html .videoOptions {
    width: 154px;
    height: 88px
}

.image_text_listing .text {
    float: left
}

#location .customStyleSelectBoxInner,#language .customStyleSelectBoxInner {
    width: auto!important;
    padding-right: 18px
}

#location {
    padding-left: 15px
}

#language select,#location select,#location .customStyleSelectBox,#language .customStyleSelectBox {
    margin-left: 0
}

#mast_head.mini_mast_head {
    width: 300px!important;
    height: 124px!important
}

#location label {
    text-transform: none
}

.reservation_form .time {
    width: 40%
}

.reservation_form .no_of_people {
    margin-right: 0;
    width: 50%
}

.reservation_form label {
    white-space: nowrap
}

h1 {
    font-size: 18px
}

.facebooklikebutton {
    padding-top: 0
}

div.image_text div.text.borderLess {
    padding-bottom: 0
}

.menu_list_cont {
    padding-right: 40px
}

div.cq-colctrl-lt6-c1 .menu_list_cont {
    width: 39%
}

div.cq-colctrl-lt9-c2 .menu_list_cont,div.cq-colctrl-lt9-c0 .menu_list_cont {
    width: 40%
}

div.cq-colctrl-lt7-c1 .menu_list_cont,div.cq-colctrl-lt3-c0 .menu_list_cont {
    width: 42%
}

div.cq-colctrl-lt9-c1 .menu_list_cont {
    width: 43%
}

div.cq-colctrl-lt3-c1 .menu_list_cont {
    width: 44%
}

div.cq-colctrl-lt0-c0 .menu_list_cont,div.cq-colctrl-lt0-c1 .menu_list_cont {
    width: 45%
}

.tabbedLeftTitle {
    width: 49%
}

*:first-child+html #CalendarPickerControl td.monthname .prev {
    background-position: -80px -190px
}

*:first-child+html #CalendarPickerControl td.monthname .next {
    background-position: -48px -190px
}

.ext-ie7 #CalendarPickerControl td.monthname .prev {
    background-position: -80px -190px
}

.ext-ie7 #CalendarPickerControl td.monthname .next {
    background-position: -48px -190px
}

#language select,#location select {
    right: 0
}

.ext-ie8 #location .customStyleSelectBoxInner,.ext-ie8 #language .customStyleSelectBoxInner {
    min-height: 16px
}

.ext-ie8 #location label {
    float: left
}

#reservation select {
    width: 93px
}

.reservation_form .no_of_people .customStyleSelectBox,.reservation_form .time .customStyleSelectBox {
    width: 91px
}

.reservation_form .no_of_people .customStyleSelectBoxInner,.reservation_form .time .customStyleSelectBoxInner {
    width: 90px!important
}

.reservation_form .time {
    width: 45%
}

.reservation_form .no_of_people {
    width: 47%
}

.reservation_form .dateSel {
    float: left;
    margin-bottom: 0
}

#reservation .datewrapper select {
    width: 62px
}

.reservation_form .datewrapper .customStyleSelectBox {
    margin-right: 10px;
    width: 60px
}

.reservation_form .datewrapper .customStyleSelectBoxInner {
    width: 59px!important;
    float: right
}

.masthead_mini {
    width: 310px;
    overflow: hidden
}

#mini_mast_head {
    height: 124px!important;
    overflow: hidden;
    margin-bottom: 10px;
    width: 300px!important
}

#mini_mast_head .nivo-controlNav {
    bottom: 15px
}

option[disabled="disabled"] {
    background: #ddd
}

#reservation form {
    width: 218px
}

.tripleddreservation {
    width: 250px;
    height: 180px;
    position: absolute;
    top: 60px;
    right: 30px
}

.tripleddreservation #reservation {
    right: 0;
    top: 0
}

*:first-child+html .tripleddreservation {
    z-index: 9000
}

.richtext h1,.richtext h2,.richtext h3,.richtext h4,.richtext h5,.richtext h6,.richtext p {
    margin-bottom: 10px
}

.richtext h1 {
    font-size: 24px
}

.richtext h2 {
    font-size: 18px
}

.richtext h3 {
    font-size: 14px
}

.richtext h4 {
    font-size: 12px
}

.richtext h5 {
    font-size: 10px
}

.richtext h6 {
    font-size: 8px
}

.menu_list ul,.menu_list ol {
    padding-left: 40px
}

.promoRotator .width214 {
    float: left;
    margin-bottom: 10px;
    padding: 15px 15px 18px;
    width: 215px
}

.promoRotator h1 {
    border-bottom: 1px solid #676767;
    color: #676767;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 12px;
    padding: 8px 0 6px;
    text-transform: uppercase
}

.promoRotator ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.promoRotator ul,.promoRotator li {
    margin: 0;
    padding: 0;
    list-style: none
}

.promoRotator li {
    overflow: hidden
}

.promoRotator .numberOptions li a {
    color: #005597;
    font-size: 12px;
    font-weight: normal;
    border: none!important;
    padding: 2px!important
}

.promoRotator .numberOptions li a:hover {
    text-decoration: underline
}

.promoRotator .numberOptions li a.active {
    background: none repeat scroll 0 0 rgba(0,0,0,0)!important;
    color: #676767!important;
    text-decoration: none;
    cursor: auto
}

.promoRotator .numberOptions li a.active:hover {
    text-decoration: none
}

.promoRotator .offerCarousel .sliderInner li img {
    margin-bottom: 10px;
    width: 100%
}

.offerCarousel .sliderInner li h2 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    color: #676767
}

.offerCarousel .sliderInner li h2 a {
    color: #005597;
    text-decoration: none
}

.offerCarousel .sliderInner li h2 a:hover {
    text-decoration: underline
}

.offerCarousel .sliderInner li a h2 {
    color: #005597;
    text-decoration: none
}

.offerCarousel .sliderInner li a:hover h2 {
    text-decoration: underline
}

.offerCarousel .spotlightDesc {
    font-size: 12px
}

.offerCarousel .spotlightDesc p {
    margin: 0 0 10px 0;
    color: #676767
}

.bodytag-ru #global_footer {
    padding-bottom: 5px
}

.bodytag-ru #global_footer a {
    float: left;
    margin-bottom: 5px
}

.bodytag-es #global_footer {
    padding-right: 0
}

.bodytag-es #global_footer a {
    float: left
}

.bodytag-es.ext-ie10 #global_footer a:nth-last-child(2) {
    margin-right: 0
}

.bodytag-es.ext-ie9 #global_footer a:nth-last-child(2) {
    margin-right: 0
}

.bodytag-fr #global_footer {
    padding-bottom: 5px
}

.bodytag-fr #global_footer a {
    float: left;
    margin-bottom: 5px
}

#infoBox {
    visibility: hidden;
    color: #676767;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    z-index: 10000;
    font-family: Arial,sans-serif;
    font-size: 12px;
    border: 1px solid #888;
    background: #fff
}

.infoBoxInner {
    width: 275px;
    position: relative
}

.infobox-title {
    margin-bottom: 0
}

.infobox-stalk {
    width: 33px!important;
    height: 38px!important;
    overflow: hidden;
    position: absolute!important;
    z-index: 1;
    left: 20px!important;
    bottom: -38px!important
}

.MicrosoftMap .MapPushpinBase img {
    max-width: none
}

.MicrosoftMap .MapPushpinBase {
    overflow: visible!important
}

.gallery img {
    width: 146px
}

.imageOptions {
    height: 80px;
    margin-bottom: 5px;
    overflow: hidden
}
